/* Estilo para el título */
h1 {
    color: red;
    text-align: center;
}

/* Estilo para el formulario */
form {
    text-align: center;
    margin-top: 20px;
}

/* Estilo para la tabla */
table {
    border-collapse: collapse;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
body {
    text-align: center;
}
/* Estilo para el enlace de volver */
p a {
    color: green;
    text-decoration: none;
    text-align: center;
}